<div class="TaskDetails">
	<div id="BorderContainer" data-dojo-type="dijit.layout.BorderContainer"
		data-dojo-props="design:'headline'" class="container">
		<div data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region:'top'" class="navigation">
			<div class=section id=banner>
				<h2>Site navigation</h2>

				<form action="../../../Help/search">
					<ul>
						<li class=home><a href="http://www.w3.org/" rel=home><img
								alt=W3C src="http://www.w3.org/Icons/w3c_home"> </a>
						<li><a href="../../CSS/" rel=bookmark title="CSS home page">CSS
								home</a>
						<li><a href="../../CSS/learning" rel=bookmark>Learn &amp;
								use</a>
						<li><a href="../../CSS/software" rel=bookmark>Software</a>
						<li><a href="../../CSS/current-work" rel=bookmark
							title="Participate in the development of the CSS standard">Participate
								/ <span title="All specifications and drafts">drafts</span> </a>
						<li class=search><input accesskey=E id=inputField
							maxlength=255 name=q size=10>
							<button accesskey=G name=sa type=submit>
								<img alt=Search src="../../../2008/site/images/search-button"
									title=Search>
							</button>
					</ul>
				</form>
			</div>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region:'top'" class="top">
			Summary: <input class="summaryClass"
				data-dojo-type="dijit.form.TextBox" name="summary" id="summary" />
		</div>
		<div data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region: 'left'" class="left">
			Left: <input data-dojo-type="dijit.form.TextBox" name="left"
				id="left"> <br> <br> Left: <input
				data-dojo-type="dijit.form.TextBox" name="left1" id="left1">
			<br> <br> Left: <input data-dojo-type="dijit.form.TextBox"
				name="left2" id="left2">
		</div>
		<div data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region:'right'" class="right">
			Right: <input data-dojo-type="dijit.form.TextBox" name="right"
				id="right" class="tun">
		</div>
		<div data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region:'bottom'" class="bottom">
			<fieldset><legend>test</legend>
				<textarea data-dojo-type="dijit.form.Textarea">
Contents to edit.
</textarea>
			</fieldset>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane"
			data-dojo-props="region:'bottom'" class="bottom">

			<blockquote>
				<p>Do you see a pale green box with rounded corners and a drop
					shadow against a white background? If not, your browser isn't
					handling the generated content correctly (or maybe not at all).</p>
			</blockquote>

		</div>

	</div>

</div>
