
<div class="modal modal-overlay" ui-if='modal2' ui-state='modal2'>
  <div class="modal-dialog scrollable">
    <div class="modal-content scrollable-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal2">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>

      <div class="modal-body">

        <p style="white-space: pre-line;">CONTENT - {{articles[currentArticleIndex].content.main}}</p>
        <ol>
            
            <li data-ng-repeat="section in articles[currentArticleIndex].content.sections">
                <span>SECTION - {{section.name}}</span><br/>
                <p style="white-space: pre-line;">{{section.content.main}}</p>

                <ol>
                    
                    <li data-ng-repeat="sub_section in section.content.sub_sections">
                        <span>SUB-SECTION - {{sub_section.name}}</span><br/>
                        <p style="white-space: pre-line;">{{sub_section.content.main}}</p>

                    </li>

                </ol>

            </li>

        </ol>
        <p style="white-space: pre-line;">ANNOTATION - {{articles[currentArticleIndex].annotation.main}}</p>
        <ol>
            
            <li data-ng-repeat="section in articles[currentArticleIndex].annotation.sections">
                <span>SECTION - {{section.name}}</span><br/>
                <p style="white-space: pre-line;">{{section.content.main}}</p>

                <ol>
                    
                    <li data-ng-repeat="sub_section in section.content.sub_sections">
                        <span>SUB-SECTION - {{sub_section.name}}</span><br/>
                        <p style="white-space: pre-line;">{{sub_section.content.main}}</p>

                    </li>

                </ol>

            </li>

        </ol>

      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal2" class="btn btn-default">Close</button>
        <button ui-turn-off="modal2" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
