<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework
.org/dtd/spring-beans-2.0.dtd">

<beans>

   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
           value="org.springframework.web.servlet.view.InternalResourceView"/>
        <property name="prefix" value="/javabrains/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
	<!--   prefix is included in the viewName provided by the controller. This allows for the controllers to be extended and reuse the same views -->
	
	<bean name="/javabrains/MainController.do"
		class="com.hhh.ir.controller.MainController">
	</bean>
	
</beans>
	