<section id="dashboard-view" class="mainbar">
    <section class="matter">
      <div class="container">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
              <span class="badge" style="vertical-align:middle;">{{filteredOuter.filtered.length}}</span>
            </div>
            <div class="col-md-2">
              <a href="" ng-click="createNewArticle('new')" class="btn btn-success" style="line-height:1.5;"><span class="glyphicon glyphicon-plus"></span>&nbsp;<span>New</span>&nbsp;</a>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" ng-click="setFilters()">Filter</button>
            </div>
            <div class="col-md-5">
            </div>
          </div>
        </div>
    </section>
    <section class="matter">
        <div class="container-fluid" style="height:100%; background:white;">
            <div class="row-fluid margin-top-10" style="height:100%; overflow:auto;">
                <ol class="list-group">
                    <!-- TODO: fix filters -->
                    <!-- <li class="list-group-item" data-ng-repeat="article in filteredOuter.filtered = (articles | filter : search1 : false | filter : search2 : false | filter : search3 : false | filter : search4 : false | filter : search5 : false | filter : search6: false | filter : searchSectionOrSubSection | filter : searchAtTags | filter : searchSectionOrSubSectionTags | filter : searchTagCloud) "> -->
                    <li class="list-group-item" data-ng-repeat="article in filteredOuter.filtered = (articles) ">
                        <!-- <a href="/#/article/{{article.index}}"><p style="white-space: pre-line;">ARTICLE - {{article.summary}}</p></a><br/> -->
                        <a href="" ui-turn-on="article_details_modal" ng-click="setCurrentArticle(article)" class="btn btn-primary">ARTICLE</a> - {{article.summary}}
                        <br/>
                        <span>TAGS - {{article.tags}}</span>
                        <br/>
                        <span>RATING - {{article.rating}}</span>
                        <br/>
                        <span>FROM - {{article.from}}</span>
                        <br/>
                        <p style="white-space: pre-line;">CONTENT - </p>
                        <ol>
                            <li data-ng-repeat="section in article.content.section">
                                <span>CONTENT-SECTION - {{section.name}}</span>
                                <br/>
                                <span>CONTENT-SECTION-TAGS - {{section.tags}}</span>
                                <br/>
                                <ol>
                                    <li data-ng-repeat="sub_section in section.sub_section">
                                        <span>CONTENT-SUB-SECTION - {{sub_section.name}}</span>
                                        <br/>
                                        <span>CONTENT-SUB-SECTION-TAGS - {{sub_section.tags}}</span>
                                        <br/>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                        <p style="white-space: pre-line;">ANNOTATION - </p>
                        <ol>
                            <li data-ng-repeat="section in article.annotation.section">
                                <span>ANNOTATION-SECTION - {{section.name}}</span>
                                <br/>
                                <span>ANNOTATION-SECTION-TAGS - {{section.tags}}</span>
                                <br/>
                                <ol>
                                    <li data-ng-repeat="sub_section in section.sub_section">
                                        <span>ANNOTATION-SUB-SECTION - {{sub_section.name}}</span>
                                        <br/>
                                        <span>ANNOTATION-SUB-SECTION-TAGS - {{sub_section.tags}}</span>
                                        <br/>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

    </section>
</section>

<!-- TODO: fix the edit article modal -->
<!--
<div ui-content-for="modals">
  <div ng-include="'partials/article_details_modal.html'"></div>
</div>

<div ui-content-for="title">
</div> -->
