<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <select ng-model="sharedVars.projectArea" class="form-control" name="area">
                            <option value="artistic">artistic</option>
                            <option value="attitude">attitude</option>
                            <option value="career">career</option>
                            <option value="education">education</option>
                            <option value="family">family</option>
                            <option value="financial">financial</option>
                            <option value="physical">physical</option>
                            <option value="pleasure">pleasure</option>
                            <option value="service">service</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="project" placeholder="Project Name" ng-model="sharedVars.projectName" />
                    </div>
                    <button ng-click="OnSelectProjectAreaAndName()" class="btn btn-primary btn-sm btn-block" role="button">View Articles</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                  <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                  <ul>
                    <!-- _blank -->
                    <li><a href="/auth/dropbox" target="_blank"><span class="glyphicon glyphicon-log-in"></span> Login via DropBox</a></li>
                  </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="radio">
                    <label>
                        <input type="radio" name="storageClient" style="position: relative;" ng-model="sharedVars.storageClient" ng-change="onStorageClientChanged()" value="LocalFileSystem"/>
                        Local
                    </label>
                    </div>
                    <div class="radio">
                    <label>
                        <input type="radio" name="storageClient" style="position: relative;" ng-model="sharedVars.storageClient" ng-change="onStorageClientChanged()" value="Dropbox"/>
                        Dropbox
                    </label>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    // onclick="myFunction()"
    function myFunction() {
        // window.open('/#/articles/attitude/rb', '_self');
        window.open('/#/articles/' + document.getElementsByName("area")[0].value + '/' + document.getElementsByName("project")[0].value, '_self');
    }
</script>

</body>

</html>
