<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="scrollable">
                    <h1 class="scrollable-header app-name">RB <small>0.1</small></h1>
                    <div class="scrollable-content section">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                    <button data-toggle="collapse" data-parent="#accordion" class="btn btn-link btn-xs" ng-click="accordianCollapse('#collapseOne');">Input Search</button>
                </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="">
                                            <!-- ui-turn-off='uiSidebarLeft' -->
                                            <div class="form-group">
                                                <label>Article</label>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search1.tags" class="form-control hasclear" style="width: 90%;" placeholder="tag 1..."/>
                                                  <a class="clear" ng-click="sharedVars.search1.tags = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>
                                                <br>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search2.tags" class="form-control hasclear" style="width: 90%;" placeholder="tag 2..."/>
                                                  <a class="clear" ng-click="sharedVars.search2.tags = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>                                                <br>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search3.tags" class="form-control hasclear" style="width: 90%;" placeholder="tag 3..."/>
                                                  <a class="clear" ng-click="sharedVars.search3.tags = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>                                                <br>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search4.summary" class="form-control hasclear" style="width: 90%;" placeholder="summary..."/>
                                                  <a class="clear" ng-click="sharedVars.search4.summary = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>
                                                <br>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search5.content.main" class="form-control hasclear" style="width: 90%;" placeholder="main content..."/>
                                                  <a class="clear" ng-click="sharedVars.search5.content.main = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>(Sub) Section</label>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search9.val" class="form-control hasclear" style="width: 90%;" placeholder="tag..."/>
                                                  <a class="clear" ng-click="sharedVars.search9.val = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>
                                                <br>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search7.val" class="form-control hasclear" style="width: 90%;" placeholder="name / main..."/>
                                                  <a class="clear" ng-click="sharedVars.search7.val = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>@tags</label>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search8.val" class="form-control hasclear" style="width: 90%;" placeholder="..."/>
                                                  <a class="clear" ng-click="sharedVars.search8.val = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Article Annotation Main</label>
                                                <div class="has-feedback">
                                                  <input type="text" ng-model="sharedVars.search6.annotation.main" class="form-control hasclear" style="width: 90%;" placeholder="..."/>
                                                  <a class="clear" ng-click="sharedVars.search6.annotation.main = ''">
                                                      <span class="glyphicon glyphicon-remove"></span>
                                                  </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                    <button data-toggle="collapse" data-parent="#accordion" class="btn btn-link btn-xs" ng-click="accordianCollapse('#collapseTwo');">Tag Cloud Search</button>
                </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <a href="" ng-click="filterArticleTags()" class="btn btn-primary">Refresh</a>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <ul class="breadcrumb">
                                                        <li data-ng-repeat="elem in selectedTags" ng-class="isLast($last)">
                                                            <a href="" ng-click="removeFromSelectedTags(elem)">{{elem}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <ul class="list-inline">
                                                        <li data-ng-repeat="elem in filteredTags | orderObjectBy : 'value' ">
                                                            <a href="" ng-click="addToSelectedTags(elem.name)" class="btn btn-link">{{elem.name}} - {{elem.value}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                    <button data-toggle="collapse" data-parent="#accordion" class="btn btn-link btn-xs" ng-click="accordianCollapse('#collapseThree');">Search All</button>
                </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="">
                                            <div class="form-group">
                                                <div class="container" style="padding-left: 0px; margin-left: -10px;">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <div class="has-feedback">
                                                                <input type="text" ng-model="sharedVars.searchAll.val" class="form-control hasclear" style="width: 90%;" placeholder="search string..."/>
                                                                <a class="clear" ng-click="sharedVars.searchAll.val = ''">
                                                                    <span class="glyphicon glyphicon-remove"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <a href="" ng-click="displayRefineBy()" class="btn btn-primary">Search</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label ng-if="searchAllCheckboxGroup.length > 0">Refine By</label>
                                                <div class="checkbox">
                                                    <div data-ng-repeat="elem in searchAllCheckboxGroup">
                                                        <label>
                                                            <input type="checkbox" value="" ng-model="elem.model" ng-change="changeRefineBy()">{{elem.name}}
                                                            <span class="badge" style="vertical-align:middle;">{{elem.count}}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
