<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="Toast Target" sequenceNumber="2">
<locations>
<location path="${workspace_loc}/ToastTarget/org.eclipse.platform.testing" type="Directory"/>
<location path="${workspace_loc}/ToastTarget/delta.pack/eclipse" type="Directory"/>
<location path="${eclipse_home}" type="Directory"/>
</locations>
</target>